<a href="https://colab.research.google.com/github/fkrhtmq123/Tensorflow/blob/master/tf05_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
  날짜 : 2020/08/18
  이름 : 김동욱
  내용 : iris 딥러닝 실습
"""
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import mse
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
# 구글 드라이브 연동
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
# 학습데이터 로드
df_iris = pd.read_csv('/content/drive/My Drive/Tensorflow_works/data/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
# 데이터셋 생성
df_iris_data = df_iris.iloc[:, 0:4]
df_iris_label = df_iris.iloc[:, 4]

In [ ]:
# 원-핫 인코딩(문자열로 된 label을 0과 1로 부호화)으로 변환
encoder = LabelEncoder()
encoder.fit(df_iris_label)
transformed_label = encoder.transform(df_iris_label)
df_iris_label_cate = to_categorical(transformed_label)

In [ ]:
# 학습데이터 검증데이터 분류
train_data, test_data, train_label, test_label = train_test_split(df_iris_data, df_iris_label_cate)

In [ ]:
# 학습모델 구성하기
model = Sequential()
model.add(Dense(units=4, input_dim=4, activation='sigmoid'))
model.add(Dense(units=3, activation='sigmoid'))

In [ ]:
# 학습모델 설정
# mean_squared_error : 수치 예측
# categorical_crossentropy : 다중분류
# binary_crossentropy : 이진분류 
model.compile(optimizer='Adam',
              loss='categorical_crossentropy',
              metrics=['acc'])

In [ ]:
# 모델 학습하기
model.fit(df_iris_data, df_iris_label_cate, epochs=1000)

In [ ]:
result = model.evaluate(test_data, test_label)
result

2/2 [==============================] - 0s 2ms/step - loss: 0.1390 - acc: 0.9474

[0.1389733999967575, 0.9473684430122375]